In [1]:
import pandas as pd

In [4]:
df = pd.read_csv ('/content/drive/MyDrive/Colab Notebooks/Curso Manipulçai e Análise de Dados com Pandas/4-Reshaping dados/nba.csv')

In [5]:
df

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        NaN

[458 rows x 9 columns]

In [8]:
df.groupby(['Salary']).mean()

                 Number   Age  Weight      Salary
Name
Aaron Brooks        0.0  31.0   161.0   2250000.0
Aaron Gordon        0.0  20.0   220.0   4171680.0
Aaron Harrison      9.0  21.0   210.0    525093.0
Adreian Payne      33.0  25.0   237.0   1938840.0
Al Horford         15.0  30.0   245.0  12000000.0
...                 ...   ...     ...         ...
Wilson Chandler    21.0  29.0   225.0  10449438.0
Xavier Munford     14.0  24.0   180.0         NaN
Zach LaVine         8.0  21.0   189.0   2148360.0
Zach Randolph      50.0  34.0   260.0   9638555.0
Zaza Pachulia      27.0  32.0   275.0   5200000.0

[457 rows x 4 columns]